root = true

[*]
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

# ReSharper properties
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_before_declaration_rpar = true
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_instance_members_qualify_declared_in = base_class
resharper_method_or_operator_body = expression_body
resharper_place_expr_method_on_single_line = true
resharper_wrap_before_primary_constructor_declaration_rpar = false

[*.cs]
csharp_new_line_before_open_brace = namespace, types
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_indent_switch_labels = false

[*.{yaml,yml}]
indent_style = space

[*.nix]
indent_style = space
